<!DOCTYPE html>
<html class='no-js'>
    {% include head.html %}
    <body class="{% if page.page %}{{page.page}}{% else %}default{% endif %} {% if page.jumbotron %}jumbo{% endif %}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="global-wrapper">
            {% include header.html %}
            {% if page.jumbotron %}
            {% include jumbotron.html %}
            {% endif %}
            <div class="main-wrapper">
                <main>
                    {{ content }}
                </main>
            </div>
            {% include footer.html %}
            {% include scripts.html %}
        </div>
    </body>
</html>