<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="{% if page.page %}{{page.page}}{% else %}default{% endif %} {% if page.jumbotron %}jumbo{% endif %}">
    <div data-sr='wait 0.1s' class="global-wrapper">
        {% include header.html %}

        {% if page.jumbotron %}
            {% include jumbotron.html %}
        {% endif %}

        <div class="main-wrapper">
            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}
    </div>

  </body>

</html>
