<header>
    <nav class="top-bar foundation-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Joshua Rogan</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li><a href="/downloads/resume.pdf" target="_blank">Résumé</a></li>
                <li class="has-dropdown">
                    <a href="#">Hire Me</a>
                    <ul class="dropdown">
                        <li><a href="/skills">Skill Set</a></li>
                        <li><a href="/experience">Experience</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/freelance"> Pricing Information</a></li>
                        <li><a href="/contact">Contact Me</a></li>
                        <li><a href="/downloads/resume.pdf" target="_blank">Résumé</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Personal</a>
                    <ul class="dropdown">
                      <li><a href="/personal">About Me</a></li>
                      <li><a href="/achievements">Achievements</a></li>
                      <li><a href="/contact">Contact Me</a></li>
                      <li class="divider"></li>
                      <li><a href="/downloads/resume.pdf" target="_blank">Résumé</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>

        </section>
    </nav>
</header>