<section class='jumbotron'>
    <h1 data-sr='reset'> Joshua Rogan </h1>
    <!-- Automatic Quote Generator Here -->
    <blockquote cite="Author of the Quote">
        {% for quote in site.quotes %}
            <p>&ldquo;{{quote.quote}}&rdquo;</p>

            <footer>
                <!-- quote source url -->
                <a href="#">{{quote.source}}</a>
            </footer>
        {% endfor %}
        
    </blockquote>
    <a href="{{site.baseurl}}/contact.html" class="btn btn-success btn-lg"> Hire Me! </a>
</section>