######################
/node_modules
/bower_components
.env
gi*

# Text Editor Files #
######################
*.swp
*.swo

# Other #
######################
Vagrantfile
/.vagrant

npm-debug.log
_site
.sass-cache
Gemfile.lock
test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.ruby-gemset
.sass-cache
tmp/*
.jekyll-metadata
/vendor
/test/source/file_name.txt