/**
 * Responsive utilities 
 *  
 * 
 */

//Factor to reduce each element by 
$xs-reduction: .75; 
$sm-reduction: .85; 
$md-reduction: .90;
$lg-reduction: .95;
$xl-reduction: 1.0;

@mixin responsive-man($property, $xs-value, $sm-value, $md-value, $lg-value, $xl-value){
		@include media-breakpoint-up(xs) {
			#{$property}: $xs-value;
		}
		@include media-breakpoint-up(sm) {
			#{$property}: $sm-value;
		}
		@include media-breakpoint-up(md) {
			#{$property}: $md-value;
		}
		@include media-breakpoint-up(lg) {
			#{$property}: $lg-value;
		}
		@include media-breakpoint-up(xl) {
			#{$property}: $xl-value;
		}
}


@mixin responsive-auto($property, $value){
	@include responsive-man($property, $value * $xs-reduction, $value * $sm-reduction, $value * $md-reduction, $value * $lg-reduction, $value * $xl-reduction) 
}