.jumbotron {
	@extend .container-fluid, .text-center;
	@include responsive-man(min-height, 20vh, 30vh, 40vh, 40vh, 45vh);
	background-color: $josh-dark-blue;
	background: linear-gradient(top, $josh-dark-blue, darken($josh-dark-blue, 10%));
	color: white;

	//JoshuaRogan
	h1 {
		@include responsive-man(font-size, 1.5rem, 2.0rem, 3.0rem, 4.0rem, 4.5rem);
		text-shadow: 10px 3px 3px rgba(0,0,0,0.15);
		font-weight: 700;
	}
	blockquote {
		@include responsive-man(font-size, 0.75rem, 1.25rem, 1.5rem, 1.75rem, 1.75rem);
		@include responsive-man(width, 80vw, 80vw, 80vw, 70vw, 60vw);
		font-weight: 400;
		margin-left: auto; 
		margin-right: auto;

		//Quote
		p {
			margin-bottom: 0;
			text-align: center;
			display: inline;
		}
		//Source
		footer {
			display: none;

			//Disable visual source
			a {
				color: white;

				&::before {
					content: "-";
				}
			}
		}
	}
}