//----------------------
//
//	Headings
//
//---------------------- 
h1,h2,h3,h4,h5,h6{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

//----------------------
//
//	Paragraphs
//
//---------------------- 
p{
	a{
		&:hover{
			text-decoration: none;
		}
	}
}

a{
	//Colors set by bootstrap 
	font-weight: 700;
	transition: color 0.05s ease-in-out;
}