//----------------------
//
//	Flat Color Pallete 
//	(http: //lodestonesocial.com/  http://flatinspire.com/color-scheme/blue/)
//
//---------------------- 
$josh-dark-blue:#2C3E50;
$josh-medium-blue: #16B5D8;
$josh-light-green: #47BA73;
$josh-light-red: #F0575B;

$pqr-orange: #f16b1d;

//----------------------
//
//	Default Transition Styles  
//
//---------------------- 

//----------------------
//
//	Grid settings
//
//----------------------


////----------------------
//
//	Custom Layout Settings
//
//----------------------
$global-fluid-padding: 2.5%;