//----------------------
//
//	Flat Color Pallete 
//	(http: //lodestonesocial.com/  http://flatinspire.com/color-scheme/blue/)
//
//---------------------- 
$josh-dark-blue:#2C3E50;
$josh-medium-blue: #16B5D8;
$josh-light-green: #47BA73;
$josh-light-red: #F0575B;

$pqr-orange: #f16b1d;

//Social Media Colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-gplus: #dd4b39;
$color-linkedin: #007bb5;
$color-flickr: #ff0084;

//----------------------
//
//	Default Transition Styles  
//
//---------------------- 
$bootstrap-transition: .2s ease-in-out;

//----------------------
//
//	Grid settings
//
//----------------------


////----------------------
//
//	Custom Layout Settings
//
//----------------------
$global-fluid-padding: 2.5%;