<footer class="site-footer">
    <div>
        <div class='twitter-feed'>
            <h2>Twitter Feed</h2>
            <blockquote>
                The internet's scariest place: NoSleep, Reddit's band of horror enthusiasts
                <cite>Guardian Tech</cite>
            </blockquote>
        </div>
        <div class='address'>
            <h2>Address</h2>
            <address>
            4720 Centre Ave
            Pittsburgh, Pennsylvania 15213
            JoshJRogan@gmail.com
            (570) 309-1185
            </address>
            <ul class="list-unstyled list-inline social-icons">
                <li> <a href="http://www.linkedin.com/pub/josh-rogan/71/a54/7b6" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> </li>
                <li> <a href="https://www.facebook.com/JoshJRogan" target="_blank"><i class="fa fa-facebook fa-lg" ></i></a> </li>
                <li> <a href="https://twitter.com/joshuarogan" target="_blank"><i class="fa fa-twitter fa-lg" ></i></a> </li>
                <li> <a href="https://plus.google.com/u/0/110939666120885358976" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a> </li>
                <li> <a href="http://www.youtube.com/user/JCubedWorld/featured" target="_blank"><i class="fa fa-youtube fa-lg"></i></a> </li>
                <li> <a href="https://www.flickr.com/photos/119332394@N07/sets/72157644819943084/" target="_blank"><i class="fa fa-flickr fa-lg"></i></a> </li>
            </ul>
        </div>
        <div class='quotes'>
            <h2>Quotes</h2>
            <blockquote>
                The ability to speak does not make you intelligent.
                <cite>Qui-Gon Jinn, StarWars</cite>
            </blockquote>
        </div>
    </div>
</footer>