<style>
	/**
	 * -----------------------------------------
	 *     Page loading effects 
	 *     	- Simple effect for every page load 
	 *     
	 * -----------------------------------------
	 */
	.global-wrapper{

	}
	


	/**
	 * -----------------------------------------
	 *     Scroll Reveal inline styles
	 *     	
	 *     
	 * -----------------------------------------
	 */
	/*Ensure elements load hidden before ScrollReveal runs*/
	.js .flip-45,
	.js #professional-skills img,
	.js .packages > section,
	.js #cd-timeline > section,
	.js .delay-1,
	.js .social-icons ul li,
	.js form,
	.js #summary ,
	.js header nav, 
	.js .jumbotron
	{
		visibility: hidden;
		will-change: transform;
		/*border: 4px solid red;*/
	}

	/*Enhance 3D Transitions*/
	.js .sr-perspective,
	.js .social-icons ul
	{
		perspective: 800px;
	}




	




</style>