<section class='jumbotron'>
    <div data-sr>
        <h1> Joshua Rogan </h1>
        
        <!-- Added with JS -->
        <blockquote cite="">
            <p class='quote'></p>
            <footer>
                <!-- quote source url -->
                <a href="#"></a>
                <!-- quote source url -->
            </footer>
        </blockquote>
        <!-- Added with JS -->

        <a href="/hire" data-sr class="btn btn-success btn-lg" title='Hire me!'> Hire Me! </a>
    </div>
</section>