<div class="collapse" id="exCollapsingNavbar">
    <div class="bg-inverse p-a">
        <ul class='nav'>
            <li><a href='/'>Home</a></li>
            <li hidden><a href='/blog'>Blog</a></li>
            <li hidden><a href='/portfolio'>Porfolio</a></li>
            <li><a href='/hire'>Hire</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/contact'>Contact</a></li>
            <li><a href='/downloads/resume.pdf' target="_blank">Résumé</a></li>
        </ul>
    </div>
</div>