<nav class="navbar navbar-dark bg-primary">
    <div data-sr class="nav-wrapper">
        <a class="navbar-brand" href="/">Joshua Rogan</a>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item sr-only">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li hidden class="nav-item">
                <a class="nav-link" href="/portfolio">Porfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="/hire">Hire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li hidden class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/downloads/">Résumé</a>
            </li>
        </ul>
    </div>
    <div class='mobile-nav'>
        <a class="navbar-brand" href="/">Joshua Rogan</a>
        <button  type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">&#9776;</button>
    </div>
</nav>