<aside class='social-icons'>
	<ul>
		<li data-sr='wait 0.3s, scale up 20%, vFactor 0.01, flip -90deg'><a href="http://www.linkedin.com/pub/josh-rogan/71/a54/7b6" target="_blank" title='Connect with me on Linkedin' class='icon icon-linkedin-circled'></a></li>
		<li data-sr='wait 0.3s, scale up 20%, vFactor 0.01, flip -90deg'><a href="https://plus.google.com/u/0/110939666120885358976" target="_blank" title='Connect with me on Google+' class='icon icon-gplus-circled'></a></li>
		<li data-sr='wait 0.3s, scale up 20%, vFactor 0.01, flip -90deg'><a href="https://twitter.com/joshuarogan" target="_blank" title='Connect with me on Twitter' class='icon icon-twitter-circled'></a></li>
		<li data-sr='wait 0.3s, scale up 20%, vFactor 0.01, flip -90deg'><a href="https://www.facebook.com/JoshJRogan" target="_blank" title='Connect with me on Facebook' class='icon icon-facebook-circled'></a></li>
		<li data-sr='wait 0.3s, scale up 20%, vFactor 0.01, flip -90deg'><a href="https://www.flickr.com/photos/119332394@N07/sets/72157644819943084/" target="_blank" title='View my images on flickr!' class='icon icon-flickr-circled'></a></li>
	</ul>
</aside>