/**
 * Page styling for the primary portfolio page
 *
 */
body.portfolio {
	//Vars 
	$padding: $global-fluid-padding;

	//Mixins
	@mixin alt-layout-dev() {
		background-color: $brand-primary;
		color: white;

		a {
			color: white;
		}
		figure.chart-js {
			canvas {
			}
			.legend {
				ul {
					background-color: rgba(255, 255, 255, 1);
					box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.15);
					border: 1px solid $brand-primary;
					border-radius: 4px;

					li {
					}
				}
			}
		}
	}
	@mixin logo-grid() {
		ul {
			@extend .list-unstyled;
			display: flex;
			text-align: center;
			align-items: center;
			align-content: center;
			flex-flow: row wrap;
			justify-content: space-around;

			li {
				@include responsive-man(max-width, 15%, 15%, 33%, 25%, 20%);
				padding: 2.5%;

				a {
					img {
						@extend .img-responsive;
						width: 100%;
					}
				}
			}
		}
	}
	@mixin ul-dots() {
		li {
			padding-right: 0;
			padding-left: 0;

			&:after {
				content: '\f111';
				font-family: 'FontAwesome';
				font-size: 5px;
				vertical-align: middle;
				padding-left: 7.5px;
				padding-right: 2.5px
			}
			&:last-of-type:after {
				content: none;
			}
			&:first-of-type {
				padding-left: 5px;
			}
		}
	}
	main {
		//First Section Summary of experience 
		section#summary {
			@extend .row;
			// align-items: center;
			// justify-content: center;
			margin-left: auto;
			margin-right: auto;
			width: 75vw;

			@include media-breakpoint-down(xs) {
				padding-top: 15px;
				h1{
					font-size: 2rem; 
				}
			}


			> div {
				@extend .col-xs-12;
				text-align: center;
				padding-top: 10px; 

				img {
					// @include img-responsive;
					margin-left: auto;
					margin-right: auto;
					max-height: 25vw;
					padding: 1vw 1vw 2.5vw 1vw;

					@include media-breakpoint-down(xs) {
						max-height: 40vw;
					}
				}
				nav {
				}
			}
			@include media-breakpoint-up(sm) {
				width: 60vw;

				> div {
					align-items: center;

					img {
						max-height: 30vw;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				width: 80vw;
			}
			@include media-breakpoint-down(xs) {
				width: 90vw;
			}
		}
		section#projects {
			h2.projects-title {
				text-align: center;
				padding-top: $padding;
				padding-bottom: $padding;
			}
			//Main Projects
			section.project {
				@extend .row;
				overflow: hidden;
				padding: $padding;
				align-items: center;
				text-align: right;

				figure.primary {
					@extend .col-md-4;
					margin-left: auto;
					margin-right: auto;
					margin: 0;
					padding: 0;
					text-align: center;

					span.icon:before {
						font-size: 25vw;
					}
				}
				> div {
					@extend .col-md-8;

					h2 {
						a {
							color: white;

							&:hover {
								// text-decoration: none;
								// Have nicer animated underline
							}
						}
						margin-bottom: 0;
					}
					figure.tools {
						ul {
							@extend .list-unstyled, .list-inline;

							li {
								padding-right: 0;
								padding-left: 0;

								&:after {
									content: '\f111';
									font-family: 'FontAwesome';
									font-size: 5px;
									vertical-align: middle;
									padding-left: 7.5px;
									padding-right: 2.5px
								}
								&:last-of-type:after {
									content: none;
								}
								&:first-of-type {
									padding-left: 5px;
								}
							}
						}
					}
					figure.links {
						ul {
							@extend .list-unstyled, .list-inline;

							li {
								padding-right: 5px; 
								.fa {
									font-size: 5vw;
								}
								.icon:before {
									font-size: 5vw;
									top: 5px;
									//Fix alignment with font awesome icons 
									position: relative;
								}
							}
						}
					}
				}
				&#genetics {
				}
				&#pqr {
					figure, a, .fa, .icon {
						color: $pqr-orange;
					}
					figure.primary {
						text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
					}
				}
				&#tcp {
					figure, a, .fa, .icon {
						color: #DC9F2A;
					}
					figure.primary {
						text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
					}
				}
				&#sandhogs {
					figure, a, .fa, .icon {
						color: #e26e45;
					}
					figure.primary {
						text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
					}
				}
				&:nth-child(even) {
					background-color: $brand-primary;
					color: white;
					text-align: left;
					a{
						color: white;
					}

					figure.primary {
						@extend .col-md-push-8;
						text-shadow: 10px 3px 3px rgba(0, 0, 0, 0.15);
					}
					> div {
						@extend .col-md-pull-4;

						figure.tools, figure.links {
							ul {
								li {
									a {
										color: white;
									}
								}
							}
						}
					}
				}
				@include media-breakpoint-up(xl) {
					padding: $padding * 1.5;

					figure.tools, figure.links {
						ul li a {
							.icon:before, .fa:before {
								font-size: 3vw;
							}
						}
					}
					figure.primary {
						span.icon:before {
							font-size: 20vw;
						}
					}
				}
				@include media-breakpoint-down(sm) {
					text-align: left;

					figure.primary {
						margin-left: auto;
						margin-right: auto;
						padding-bottom: 10vw;
						padding-top: 10vw;

						span.icon:before {
							font-size: 40vw;
						}
					}
					figure.tools, figure.links {
						ul li a {
							.icon:before, .fa:before {
								font-size: 8vw;
							}
						}
					}
				}
			}
		}
		//Rest of the projects
		section#all-projects {
			padding: $padding;

			h2 {
				text-align: center;
				padding-bottom: 1rem;
			}
			section.projects {
				display: flex;
				// align-items: flex-start;
				// align-content: flex-start;
				justify-content: space-around;
				flex-wrap: wrap;

				section.project {
					@extend .card;
					display: inline-flex;
					@include responsive-man(width, 100%, 100%, 50%, 50%, 33%);

					img {
						// @include img-responsive;
						object-fit: cover;
					}
					//All Direct Divs are card blocks
					> div:not(.footer) {
						@extend .card-block;

						> h3 {
							@extend .card-title, .h4;
						}
						> p {
							@extend .card-text;
						}
					}
					div.footer {
						@extend .card-footer;

						ul {
							@extend .list-unstyled, .list-inline;
							display: flex;
							align-items: center;
							align-content: space-around;
							justify-content: space-around;
							flex-wrap: wrap;
							margin-bottom: 0;

							li {
								display: flex;
							}
						}
					}
				}
			}
		}
		//Word Bubble at bottom
		section#wordbubble {
			@include make-row;
			align-items: center;
			justify-content: center;
			background-color: $brand-primary;

			h2 {
				color: white;
				width: 100vw;
				text-align: center;
				padding: 2.5%;
				margin-bottom: 0;
				display: none;
			}
			p {
				color: white;
				text-align: center;
				//  
				// 
				perspective: 1000px;
				width: 85vw;
				padding: 1vw 2.5vw 1vw;
				margin-left: auto;
				margin-right: auto;
				// 
				$base-size: 1vw;

				.word {
					//Font Sizes
					&.bubble-size-0 {
						font-size: $base-size * 1;
					}
					&.bubble-size-1 {
						font-size: $base-size * 2;
					}
					&.bubble-size-2 {
						font-size: $base-size * 3;
					}
					&.bubble-size-3 {
						font-size: $base-size * 4;
					}
					&.bubble-size-4 {
						font-size: $base-size * 5;
					}
					//Weights
					&.weight-0 {
						font-weight: 300;
					}
					&.weight-1 {
						font-weight: 400;
					}
					&.weight-2 {
						font-weight: 700;
					}
					&.weight-3 {
						font-weight: 900;
					}
				}
			}
		}
		section#professional-skills {
			h2 {
				text-align: center;
			}
			> div {
				//Chart JS & Legend
				figure.chart-js {
					margin: 0;
					margin-left: auto;
					margin-right: auto;
					align-items: center;
					justify-content: center;

					canvas {
						max-width: 100%;
					}
					.legend {
						@include responsive-man(width, 100%, 100%, 75%, 60%, 60%);
						padding-top: 10px;
						text-align: center;
						margin-left: auto;
						margin-right: auto;

						ul {
							padding: 10px;
							li{
								padding-right: 5px; 
							}
						}
					}
				}
			}
			> div#skill-developing {
				> section.summary, > section#developing-philosophy > div {
					@include center-layout;
					text-align: center;
					padding-top: $padding;
					padding-bottom: $padding;
				}
				> section#developing-languages {
					@include make-row;
					@include alt-layout-dev;
					align-items: center;
					padding: $padding;

					> div {
						@extend .col-md-7;
					}
					> figure {
						@extend .col-md-5;
					}
				}
				> section#developing-web {
					@include make-row;
					@include alt-layout-dev;
					align-items: center;
					padding: $padding;

					> div {
						@extend .col-md-7, .col-md-push-5;
					}
					> figure {
						@extend .col-md-5, .col-md-pull-7;
					}
				}
				> section#developing-frameworks {
					@include make-row;
					padding: $padding;
					align-items: center;
					justify-content: space-around;

					> div {
						@extend .col-md-7, .col-md-push-5;
						text-align: right;

						@include media-breakpoint-down(sm) {
							text-align: left;
						}
					}
					> figure.framework-logos {
						@extend .col-md-5, .col-md-pull-7;

						//Bunch of logos
						ul {
							@extend .list-unstyled;
							display: flex;
							text-align: center;
							align-items: center;
							align-content: center;
							flex-flow: row wrap;
							justify-content: space-around;

							li {
								flex-basis: 50%;
								@include responsive-man(max-width, 15vw, 15vw, 15vw, 10vw, 10vw);

								a {
									img {
										@extend .img-responsive;
										width: 100%;
									}
								}
							}
						}
					}
				}
				> section#developing-tools {
					@include make-row;
					@include alt-layout-dev;
					padding: $padding;
					align-items: center;
					justify-content: space-around;

					> div {
						@extend .col-md-6;
					}
					> figure.tools {
						@extend .col-md-6;
						@include logo-grid;
					}
				}
				> section#developing-sysadmin {
					@include make-row;
					padding: $padding;
					align-items: center;
					justify-content: space-around;
					text-align: right;

					@include media-breakpoint-down(sm) {
						text-align: left;
					}
					> div {
						@extend .col-md-7;
						@extend .col-md-push-5;
					}
					> figure {
						@extend .col-md-5;
						@extend .col-md-pull-7;
						@include logo-grid;

						> ul {
							li {
								@include responsive-man(max-width, 20%, 20%, 33%, 25%, 25%);
							}
						}
					}
				}
			}
		}

		nav.simple-nav {
			text-align: center;

			ul {
				@extend .list-unstyled, .list-inline;
				@include ul-dots;
			}
		}
	}
}