/**
 * Page styling for just the skills page. 
 *
 */
body.portfolio {
	main {
		aside.company-logos {
			@extend .row;

			figure {
				@extend .col-md-2, .col-sm-4, .col-xs-6, .text-center;

				.fa {
					font-size: 5rem;
				}
				figcaption {
					display: none;
				}
			}
		}
		section.detailed-skills {
			@extend .container;

			> header {
				@extend .row;
				h2{
					
				}
			}
			.wrapper {
				@extend .row;
				> section {
					@extend .col-md-4, .col-sm-12;

					h3 {
					}
					// JS Charts
					figure {
						@extend .text-center;
						padding-top: 10px;

						canvas {
							
						}
					}
				}
			}
		}

		aside.wordbubble{
			@extend .container;
			p{
				@extend .text-center;
				$base-size: 1vw; 
				.word{
					//Font Sizes
					&.bubble-size-0{
						font-size: $base-size * 1;
					}
					&.bubble-size-1{
						font-size: $base-size * 2;
					}
					&.bubble-size-2{
						font-size: $base-size * 3;
					}
					&.bubble-size-3{
						font-size: $base-size * 4;
					}
					&.bubble-size-4{
						font-size: $base-size * 5;
					}
					
					//Weights
					&.weight-0{
						font-weight: 300;
					}
					&.weight-1{
						font-weight: 400;
					}
					&.weight-2{
						font-weight: 700;
					}
					&.weight-3{
						font-weight: 900;
					}
				}
			}
		}
	}
}