<section id="all-projects">
    <h2 data-sr>More Projects...</h2>
    <section class="projects">
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="http://jccpgh.org/" target="_blank">JCC Pittsburgh</a></h3>
                <p>Build and maintain the JCC of Pittsburgh primary website with 1,000s of views per day. Voted one of the  <a href="http://www.accrinet.com/blog/2015/10/29/default/15-best-jcc-websites-of-2015/" target="_blank">top 15 JCC websites of 2015</a>. </p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="http://jccpgh.org/" target="_blank" title='View it Live'><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="https://wordpress.org/" target="_blank" title='Built with Wordpress'><i class="fa fa-wordpress"></i></a></li>
                </ul>
            </div>
        </section>

        <section class="project" data-sr='flip 45deg' hidden>
            <div class="content">
                <h3><a href="http://yummydev.jcubedworld.com/home-page">Yummy Plants Redesign</a></h3>
                <p>Redesigned for mobile a vegan food website. The original website can be found here. Built using bootstrap.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="http://yummydev.jcubedworld.com/home-page" target="_blank" title="View the demo"><i class="fa icon icon-web58"></i></a></li>
                </ul>
            </div>
        </section>

        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="http://contedesign.net/" target="_blank">Conte Design</a></h3>
                <p>Build and update a simple gallery website to increase online interaction of a unique boutique site.  </p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="http://contedesign.net/" target="_blank" title='View it Live'><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="https://wordpress.org/" target="_blank" title='Built with Wordpress'><i class="fa fa-wordpress"></i></a></li>

                </ul>
            </div>
        </section>
        
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="http://ae7.dev.firemancreative.com/" target="_blank">AE7</a><small><span title='Website is currently in development' class="pull-right label label-warning">Dev</span></small></h3>
                <p>Build a media rich website for <a href="http://www.ae-7.com/about_us.html" target="_blank">AE7</a>, internationally renowned American design professionals with over 40 years of combined experience in the Middle East, Europe, Asia and USA. </p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="http://ae7.dev.firemancreative.com/" target="_blank" title="View it Live"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="https://wordpress.org/" target="_blank" title='Built with Wordpress'><i class="fa fa-wordpress"></i></a></li>
                </ul>
            </div>
        </section>
    </section>
</section>