<section id="all-projects">
    <h2 data-sr>More Projects...</h2>
    <section class="projects">
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">East Coast Sandhogs</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#">JS</a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">Yummy Plants Redesign</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-css3"></i></a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">Electric City Baseball</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-css3"></i></a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">JCC Pittsburgh</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-css3"></i></a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">AE7</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-css3"></i></a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">AE7</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-css3"></i></a></li>
                </ul>
            </div>
        </section>
        <section class="project" data-sr='flip 45deg'>
            <div class="content">
                <h3><a href="#">AE7</a></h3>
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa icon icon-web58"></i></a></li>
                    <li><a href="#"><i class="fa fa-html5"></i></a></li>
                </ul>
            </div>
        </section>
    </section>
</section>