<section id="professional-skills">
    <h2>Professional Skills</h2>
    <div id='skill-developing'>
        <section class="summary" data-sr>
            <figure>
                <!-- Console Graphic -->
            </figure>
            <div>
                <h3>Developing</h3>
                <p>While developing new projects I often explore new development ideas. One principle that I believe is essential to all software design methods is the <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">DRY</a> principle. Committing to this idea will almost always result in more manageable code. I have explored <a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">Object-Oriented Programming</a> heavily by being encouraged to extensively use it through my academic studies. But, recently I have considered some other paradigms such as <a href="https://en.wikipedia.org/wiki/Functional_programming" target="_blank">Functional Programming</a> and <a href="https://en.wikipedia.org/wiki/Prototype-based_programming">Prototypal inheritance</a> after reading lots of articles stating that<a href="http://harmful.cat-v.org/software/OO_programming/">OOP is Inherently Harmful</a>. </p>
            </div>
        </section>
        <section id='developing-languages' data-sr>
            <div>
                <h3>Language Affinity</h3>
                <p>Chia post-ironic venmo 3 wolf moon squid, four dollar toast try-hard health goth brooklyn ennui umami meditation master cleanse helvetica. Retro williamsburg occupy, thundercats post-ironic mixtape before they sold out +1 ennui. Readymade retro small batch, master cleanse twee cardigan pickled VHS before they sold out letterpress actually normcore.</p>
            </div>
            <figure class='chart-js' data-sr>
                <!-- Radar Chart with Chart JS -->
                <canvas id="language-chart"></canvas>
                <div class="legend"></div>
            </figure>
        </section>
        <section id='developing-web' data-sr hidden>
            <div>
                <h3>Web Development</h3>
                <p>Chia post-ironic venmo 3 wolf moon squid, four dollar toast try-hard health goth brooklyn ennui umami meditation master cleanse helvetica. Retro williamsburg occupy, thundercats post-ironic mixtape before they sold out +1 ennui. Readymade retro small batch, master cleanse twee cardigan pickled VHS before they sold out letterpress actually normcore.</p>
            </div>
            <figure class='chart-js'>
                <canvas id="web-chart"></canvas>
                <div class="legend"></div>
            </figure>
        </section>
        <section id='developing-frameworks' data-sr>
            <div data-sr>
                <h3>Frameworks &amp; Platforms</h3>
                <p>Chia post-ironic venmo 3 wolf moon squid, four dollar toast try-hard health goth brooklyn ennui umami meditation master cleanse helvetica. Retro williamsburg occupy, thundercats post-ironic mixtape before they sold out +1 ennui. Readymade retro small batch, master cleanse twee cardigan pickled VHS before they sold out letterpress actually normcore.</p>
            </div>
            <figure class='framework-logos' data-sr>
                <ul>
                    <li><a href='#'><img src="http://tecadmin.net/wp-content/uploads/2014/12/laravel-logo.png" alt='Laravel Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://flask.pocoo.org/static/logo/flask.png" alt='Flask Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://build.prestashop.com/assets/images/2015/04/jekyll.png" alt='Jekyll Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png" alt='WordPress Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://static.jeremybuff.com/img/technology-icon-bootstrap.png" alt='Bootstrap Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://jstricks.com/wp-content/uploads/2014/10/mongodb-gui-tools.png" alt='MongoDB Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://3.bp.blogspot.com/-9AsG0vZMdjg/Vb0G2ehFr5I/AAAAAAAAAS0/Iw7DgVUzKC4/s1600/nodejs-logo.png" alt='Node JS Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                </ul>
            </figure>
        </section>
        <section id="developing-tools" data-sr>
            <div>
                <h3>Development Tools</h3>
                <p>While developing cross-platform applications I have come across many tools that make developing significantly easier. Most importantly is some type of version control. <a href="https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control">Git</a> has changed my life and I wouldn't start a project without using it. Along with using Git I came to love the command line. Tools such as <a href="#">Oh My Zsh</a> and <a href="#">Bash-it</a> can make using the command line much faster and significantly less error prone.  </p>
                <p>Task managers and package managers are essential tools in every developers belt. The task manager I originally used was <a href="">Grunt</a>  but recently have come to like the better API of <a href="#">Gulp</a> better. For web developing I stick with <a href="#">NPM</a> and <a href="#">Bower</a> for my front end packages. </p>
                <p>I am familiar with many different communicating tools that dramatically aid in developing such as <a href="#">basecamp</a> and <a href="#">slack</a>. Issue tracking is essential in maintaining a project in a team and <a href="https://guides.github.com/features/issues/">GitHub Issue Tracker</a>  and <a href="https://www.atlassian.com/software/jira" target="_blank">Atlassian Jira</a> are essential tools to manage project issues easily.</p>
            </div>
            <figure class='tools'>
                <ul>
                    <li><a href="#"><img src="https://git-scm.com/images/logos/downloads/Git-Logo-1788C.png" alt="Github Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="http://www.mariadcampbell.com/wp-content/uploads/2015/06/terminal.png" alt="Bash Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://camo.githubusercontent.com/5c385f15f3eaedb72cfcfbbaf75355b700ac0757/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6f686d797a73682f6f682d6d792d7a73682d6c6f676f2e706e67" alt="Oh my zsh Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Sublime-Text-icon.png" alt="Sublime Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://i.cloudup.com/bDkmXyEmr5.png" alt="Grunt Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" alt="Gulp Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="http://bower.io/img/bower-logo.png" alt="Bower Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/320px-Npm-logo.svg.png" alt="NPM Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://help.basecamp.com/images/logo-bc.png" alt="Basecamp Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://lh3.googleusercontent.com/CzlsZP3xUHeX3HAGdZ2rL9mK6_C-6T1-YWeBeM8nB3ilmfPSBHCFx4-UbQr8MnQms3d9=w300" alt="Slack Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                </ul>
            </figure>
        </section>
        <section id="developing-sysadmin" data-sr>
            <div>
                <h3>System Administration</h3>
                <p>I have setup and maintained many different types of servers. I have used <a href="#">Nginx</a>, <a href="#">Apache</a>, and <a href="#">node.js</a> as servers for different applications. I also have pushed applications to <a href="https://cloud.google.com/appengine/docs">Google App Engine</a> for quick server setups. I am familiar with maintaining these applications on many different Linux distributions including <a href="https://www.centos.org/" target='_blank'>CentOS</a>, <a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux" target='_blank'>RHEL</a>, and <a href="http://www.ubuntu.com/download/server" target='_blank'>Ubuntu</a>.  </p>
                <p>I quickly realized there are much better ways to deploy projects than using just git or even manually uploading files. For this, I am using a Ruby tool called <a href="#">Capistrano</a>. This protects my projects when I deploy and can easily rollback if there is an unforeseen production error.  </p>
            </div>
            <figure>
                <ul>
                    <li><a href="#"><img src="https://www.digitalocean.com/assets/images/logos-badges/png/DO_Logo_Vertical_Blue-75e0d68b.png" alt="Digital Ocean Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://clouda-assets.s3.amazonaws.com/upload/552b996ad287c229dd6d6432.png?versionId=BhM7XM067ywF0jFye22I8RgwOaTq11XP&amp;1433747870" alt="AWS Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://lucene.apache.org/images/mantle-asf.png" alt="Apache Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://www.gabrielmatteson.com/wp-content/uploads/2014/04/Nginx-Logo-02.png" alt='Nginx Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://pipeline.loni.usc.edu/wp-content/uploads/2015/07/centos-logo.png" alt='CentOS Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='#'><img src="http://igrudge.net/wp-content/uploads/2011/06/ubuntu-logo-large.png" alt='Ubuntu Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d8/Capistrano.svg/974px-Capistrano.svg.png" alt="Capistrano Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/3/38/Google_App_Engine_Logo.png" alt="Capistrano Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                </ul>
            </figure>
        </section>
        <section id='developing-philosophy' data-sr hidden>
            <div>
                <h3>Development Philosophy</h3>
            </div>
            <figure class='philosophy-bubble'>
                <!-- Wordbuble  -->
            </figure>
        </section>
        <section id='skill-software' hidden>
            <h3>Software Affinity</h3>
            <figure>
                <!-- Bar Graphs of skills -->
            </figure>
        </section>
        <section id='skill-design' hidden>
            <h3>Design</h3>
            <figure>
                <!-- Bar Graphs of skills -->
            </figure>
        </section>
        </div> <!-- /Skill Dev -->
    </section><!-- /Professional Skills -->