<section id="professional-skills">
    <h2>Professional Skills</h2>
    <div id='skill-developing'>
        <section class="summary">
            <figure>
                <!-- Console Graphic -->
            </figure>
            <div data-sr>
                <h3>Developing</h3>
                <p>While developing new projects I often explore new development ideas. One principle that I believe is essential to all software design methods is the <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">DRY</a> principle. Committing to this idea will almost always result in more manageable code. I have explored <a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">Object-Oriented Programming</a> heavily by being encouraged to extensively use it through my academic studies. But, recently I have considered some other paradigms such as <a href="https://en.wikipedia.org/wiki/Functional_programming" target="_blank">Functional Programming</a> and <a href="https://en.wikipedia.org/wiki/Prototype-based_programming">Prototypal inheritance</a> after reading lots of articles stating that<a href="http://harmful.cat-v.org/software/OO_programming/">OOP is Inherently Harmful</a>. </p>
            </div>
        </section>
        <section id='developing-languages'>
            <div data-sr>
                <h3>Language Affinity</h3>
                <p>I have been exposed to a significant number of programming languages through my time at academia and in my professional work. My favorite language would be <strong>JavaScript</strong> due to its wide-use on the front-end of applications and it's ability to be used on the server side with <strong>Node.js</strong>. I also find developing <strong>Python</strong> applications to be very straight forward and robust. Generally, every new project I will try to use a new language or framework within a language I am already familiar with. </p>
                <p>I am also very familiar with many of the web languages such as CSS3 and exclusively use pre and post processors such as  <a href="http://sass-lang.com/" target="_blank">SASS</a>, <a href="http://lesscss.org/" target="_blank">LESS</a>, and <a href="https://github.com/postcss/postcss" target="_blank">PostCSS</a>. Along with extensive usage of task managers <a href='http://gruntjs.com/' target="_blank">Grunt</a> and <a href='http://gulpjs.com/' target="_blank">Gulp</a>.  </p>
            </div>
            <figure class='chart-js' data-sr>
                <!-- Radar Chart with Chart JS -->
                <canvas id="language-chart"></canvas>
                <div class="legend"></div>
            </figure>
        </section>
        <section id='developing-web' hidden>
            <div data-sr>
                <h3>Web Development</h3>
                <p>Chia post-ironic venmo 3 wolf moon squid, four dollar toast try-hard health goth brooklyn ennui umami meditation master cleanse helvetica. Retro williamsburg occupy, thundercats post-ironic mixtape before they sold out +1 ennui. Readymade retro small batch, master cleanse twee cardigan pickled VHS before they sold out letterpress actually normcore.</p>
            </div>
            <figure class='chart-js' data-sr>
                <canvas id="web-chart"></canvas>
                <div class="legend"></div>
            </figure>
        </section>
        <section id='developing-frameworks'>
            <div data-sr>
                <h3>Frameworks &amp; Platforms</h3>
                <p>Framework popularity changes almost daily. It is often difficult to decide what framework to use for a given project. The two key components for me are <strong>project stability</strong> and <strong>documentation</strong>. I love the PHP framework <a href="http://laravel.com/" target="_blank">Laravel</a> for it's great documentation and video series <a href='https://laracasts.com/' target="_blank">Laracasts</a>. </p>
                <p>I often try to use a framework I haven't explored when I am creating new project in the hopes to be open to more development philosophies to extend my developing abilities. </p>
            </div>
            <figure class='framework-logos' data-sr>
                <ul>
                    <li>
                        <a href='http://laravel.com/' target="_blank" title="PHP Laravel Framework">
                            <img src="/assets/images/portfolio/laravel-logo-logo.png" alt='Laravel Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='http://flask.pocoo.org/' target="_blank" title="Python Flask Framework">
                            <img src="/assets/images/portfolio/flask-logo.png" alt='Flask Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='http://jekyllrb.com' target="_blank" title="Ruby Jekyll Framework">
                            <img src="/assets/images/portfolio/jekyll-logo.png" alt='Jekyll Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='https://wordpress.org/' target="_blank" title="PHP WordPress Framework">
                            <img src="/assets/images/portfolio/wordpress-logo-notext-rgb-logo.png" alt='WordPress Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='http://getbootstrap.com/' target="_blank" title="Front End Twitter Bootstrap Framework">
                            <img src="/assets/images/portfolio/technology-icon-bootstrap-logo.png" alt='Bootstrap Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.mongodb.org/' target="_blank" title="NoSQL Database System MongoDB">
                            <img src="/assets/images/portfolio/mongodb-gui-tools-logo.png" alt='MongoDB Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='https://nodejs.org/en/' target="_blank" title="Event Driven Server Side Javascript Node.js">
                            <img src="/assets/images/portfolio/nodejs-logo-logo.png" alt='Node JS Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='https://codeigniter.com/' target="_blank" title="PHP CodeIgniter Framework">
                            <img src="/assets/images/portfolio/codeigniter-logo.png" alt='CodeIgniter  Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.djangoproject.com/' target="_blank" title="Python Django Framework">
                            <img src="/assets/images/portfolio/django.sh-600x600-logo.png" alt='Django  Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'>
                        </a>
                    </li>
                </ul>
            </figure>
        </section>
        <section id="developing-tools">
            <div data-sr>
                <h3>Development Tools</h3>
                <p>While developing cross-platform applications I have come across many tools that make developing significantly easier. Most importantly is some type of version control. <a href="https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control">Git</a> has changed my life and I wouldn't start a project without using it. Along with using Git I came to love the command line. Tools such as <a href="#">Oh My Zsh</a> and <a href="#">Bash-it</a> can make using the command line much faster and significantly less error prone.  </p>
                <p>Task managers and package managers are essential tools in every developers belt. The task manager I originally used was <a href="">Grunt</a>  but recently have come to like the better API of <a href="#">Gulp</a> better. For web developing I stick with <a href="#">NPM</a> and <a href="#">Bower</a> for my front end packages. </p>
                <p>I am familiar with many different communicating tools that dramatically aid in developing such as <a href="#">basecamp</a> and <a href="#">slack</a>. Issue tracking is essential in maintaining a project in a team and <a href="https://guides.github.com/features/issues/">GitHub Issue Tracker</a>  and <a href="https://www.atlassian.com/software/jira" target="_blank">Atlassian Jira</a> are essential tools to manage project issues easily.</p>
            </div>
            <figure class='tools' data-sr>
                <ul>
                    <li><a href="https://github.com/" target="_blank" title="Github"><img src="/assets/images/portfolio/Git-Logo-1788C-logo.png" alt="Github Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://www.gnu.org/software/bash/" target="_blank" title="Bash"><img src="/assets/images/portfolio/terminal-logo.png" alt="Bash Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://github.com/robbyrussell/oh-my-zsh" target="_blank" title="Oh-my-zsh"><img src="/assets/images/portfolio/oh-my-zsh-logo.png" alt="Oh my zsh Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="http://www.sublimetext.com/" target="_blank" title="Sublime Text"><img src="/assets/images/portfolio/Apps-Sublime-Text-icon-logo.png" alt="Sublime Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="http://gruntjs.com/" target="_blank" title="Grunt"><img src="/assets/images/portfolio/bDkmXyEmr5-logo.png" alt="Grunt Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="http://gulpjs.com/" target="_blank" title="Gulp"><img src="/assets/images/portfolio/gulp-2x-logo.png" srcset="/assets/images/portfolio/gulp-2x-logo.png 850w, /assets/images/portfolio/gulp-2x-logo-xs.png 800w" alt="Gulp Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="http://bower.io/" target="_blank" title="Bower"><img src="/assets/images/portfolio/bower-logo-logo.png" alt="Bower Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://www.npmjs.com/" target="_blank" title="NPM"><img src="/assets/images/portfolio/320px-Npm-logo.svg-logo.png" alt="NPM Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://basecamp.com/" target="_blank" title="Basecamp"><img src="/assets/images/portfolio/logo-bc-logo.png" alt="Basecamp Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://slack.com/" target="_blank" title="Slack"><img src="/assets/images/portfolio/slack.png" alt="Slack Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                </ul>
            </figure>
        </section>
        <section id="developing-sysadmin">
            <div data-sr>
                <h3>System Administration</h3>
                <p>I have setup and maintained many different types of servers. I have used <a href="#">Nginx</a>, <a href="#">Apache</a>, and <a href="#">node.js</a> as servers for different applications. I also have pushed applications to <a href="https://cloud.google.com/appengine/docs">Google App Engine</a> for quick server setups. I am familiar with maintaining these applications on many different Linux distributions including <a href="https://www.centos.org/" target='_blank'>CentOS</a>, <a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux" target='_blank'>RHEL</a>, and <a href="http://www.ubuntu.com/download/server" target='_blank'>Ubuntu</a>.  </p>
                <p>I quickly realized there are much better ways to deploy projects than using just git or even manually uploading files. For this, I am using a Ruby tool called <a href="#">Capistrano</a>. This protects my projects when I deploy and can easily rollback if there is an unforeseen production error.  </p>
            </div>
            <figure data-sr>
                <ul>
                    <li><a href="https://www.digitalocean.com/" target="_blank" title="Digital Ocean Hosting"><img src="/assets/images/portfolio/DO_Logo_Vertical_Blue-75e0d68b-logo.png" alt="Digital Ocean Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://aws.amazon.com/" target="_blank" title="AWS Amazon Hosting"><img src="/assets/images/portfolio/aws-logo.png" alt="AWS Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://www.apache.org/" target="_blank" title="Apache Server"><img src="/assets/images/portfolio/mantle-asf-logo.png" alt="Apache Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='https://www.nginx.com/resources/wiki/' target="_blank" title="Nginx Server"><img src="/assets/images/portfolio/Nginx-Logo-02-logo.png" alt='Nginx Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='https://www.centos.org/' target="_blank" title="CentOS Linux"><img src="/assets/images/portfolio/centos-logo-logo.png" alt='CentOS Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href='http://www.ubuntu.com/download/server' target="_blank" title="Ubuntu Server Linux"><img src="/assets/images/portfolio/ubuntu-logo-large-logo.png" alt='Ubuntu Logo' data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="http://capistranorb.com/" target="_blank" title="Capistrano Deploy"><img src="/assets/images/portfolio/974px-Capistrano.svg-logo.png" alt="Capistrano Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                    <li><a href="https://cloud.google.com/appengine/docs" target="_blank" title="Google App Engine"><img src="/assets/images/portfolio/Google_App_Engine_Logo-logo.png" alt="Capistrano Logo" data-sr='wait 0.1s, scale up 20%, vFactor 0.01, flip -90deg'></a></li>
                </ul>
            </figure>
        </section>
        <section id='developing-philosophy' data-sr hidden>
            <div>
                <h3>Development Philosophy</h3>
            </div>
            <figure class='philosophy-bubble'>
                <!-- Wordbuble  -->
            </figure>
        </section>
        <section id='skill-software' hidden>
            <h3>Software Affinity</h3>
            <figure>
                <!-- Bar Graphs of skills -->
            </figure>
        </section>
        <section id='skill-design' hidden>
            <h3>Design</h3>
            <figure>
                <!-- Bar Graphs of skills -->
            </figure>
        </section>
        </div> <!-- /Skill Dev -->
    </section><!-- /Professional Skills -->